body {
  background-color: rgba(0, 0, 0, 0.83);
  background-image: linear-gradient(rgba(0, 0, 0, 0.83), rgba(8, 8, 8, 0.5));
  color: white;
  font-family: sans-serif;
  min-height: 97vh;
}

#log-in {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin: 1rem auto;
  /* display: none; */
}

#passwordForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 3rem;
}

#password {
  margin-top: 0.5rem;
  width: 12rem;
  height: 2rem;
}

#outer {
  position: relative;
  width: 30rem;
  margin: auto;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 1rem;
  min-height: 25rem;
  display: none;
  margin-top: 3rem;
}

#clock-div {
  display: flex;
  justify-content: end;
}

#clock-div p {
  margin: 0;
  padding: 0;
}

h3 {
  border-bottom: 1px solid white;
  border-bottom-right-radius: 0.7rem;
  border-width: 0.3rem;
  margin-bottom: 0;
  display: inline-block;
  width: 7rem;
}

h5 {
  display: inline-block;
  font-weight: 100;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0.2rem;
  margin: 1rem auto 0 auto;
}

button:hover {
  box-shadow: 2px 3px rgba(255, 255, 255, 0.4);
}

#form-div {
  text-align: center;
  margin: auto;
  padding: 0.5rem;
}

ul {
  margin-bottom: 1.5rem;
  overflow: hidden;
}

#text-area {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 1rem auto;
  width: 90%;
  height: 3rem;
  border-radius: 0.5rem;
}

#output {
  width: 100%;
}

#output button {
  border-radius: 4px;
  font-size: 0.7rem;
}

#buttonsDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#saveButtonDiv {
  display: flex;
}

#twoButtonsDiv {
  display: flex;
  justify-content: end;
}

a {
  text-decoration: none;
}

#reminders-inner-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.2rem;
}

h4 {
  display: inline-block;
}

#remindersTitle {
  margin: 0;
  justify-content: center;
}

#reminderButtonsDiv {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#reminderSaveButtonDiv {
  display: flex;
}

#reminders-inner-div button {
  height: 2rem;
}

#reminder-delete-buttons {
  display: flex;
  justify-content: end;

}
#reminder-delete-buttons button {
border-radius: 4px;
font-size: 0.7rem;
}

#reminders button {
  border-radius: 4px;
  font-size: 0.7rem;
}

#reminder-config {
  position: fixed;
  top: 7rem;
  left: calc(50% - 273px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 2rem;
  width: 30rem;
  display: none;
  z-index: 5;
}
#reminder-config form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#message {
  height: 2rem;
  width: 90%;
}

#reminderMessage {
  margin-bottom: 0.7rem;
}

#selectTime {
margin: 1rem auto 0.7rem auto; 
}

#configAddButton {
  margin: 1.5rem auto 0 auto;
  height: 3rem;
  width: 9rem;
  border-radius: 1.5rem;
}

#configResetButton {
  margin: 0.7rem auto 0 auto;
  height: 2rem;
  width: 5rem;
  border-radius: 1.5rem;
}

#configMessage {
  width: 90%;
  height: 2.5rem;
  border-radius: 0.7rem;
}

#time {
  width: 6rem;
}

#hr {
  margin-bottom: 1.5rem;
}

footer {
  position: absolute;
  bottom: 1rem;
  left: calc(273px - 46px);
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

footer p {
  font-size: 8px;
  font-weight: 100;
}

i {
  color: white;
  padding: 3px;
  border-radius: 1rem;
  transition: ease-in 0.6s;
}

i:hover {
  color: black;
  background-color: white;
}

#outer-config {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.06);
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}